.preview85{background-image:url('../images/preview85x85.gif'); background-repeat:no-repeat}
.preview40{background-image:url('../images/preview40x40.gif'); background-repeat:no-repeat}
.preview60{background-image:url('../images/preview60x60.gif'); background-repeat:no-repeat}
.preview380{background-image:url('../images/preview380x380.gif'); width:300px; height:280px; background-repeat:no-repeat}